# Scoreboard team
public net.minecraft.network.protocol.game.ClientboundSetPlayerTeamPacket <init>(Ljava/lang/String;ILjava/util/Optional;Ljava/util/Collection;)V

# Player info
public-f net.minecraft.network.protocol.game.ClientboundPlayerInfoUpdatePacket entries
